/* =========================================================
   RD3 CONTENT BLOCK EDIT LINK
   ========================================================= */

.rd3-content-block-edit a {
    display: inline-block;
    padding: 4px 10px;

    background: #000;
    color: #fff;

    border: 1px solid #000;
    border-radius: 3px;

    font-size: 12px;
    line-height: 1.4;

    text-decoration: none;
    transition: background 0.3s ease-in, color 0.3s ease-in, transform 0.3s ease-in;
}

.rd3-content-block-edit a:hover {
    background: #fff;
    color: #000;
}


.rd3-content-row-item {
    display: flex;
    flex-direction: column;
}

.rd3-content-block-edit {
    margin-top: auto;
    padding-top: 20px;
}
/* =========================================================
   RD3 ROW EDIT LINK
   ========================================================= */

.rd3-content-row-wrapper {
    width: 100%;
}

.rd3-content-row-edit {
    width: 100%;
    margin-bottom: 10px;
}

/* =========================================================
   RD3 ROW AND BLOCK BUTTON
   ========================================================= */

   .rd3-content-block-edit a, .rd3-content-row-edit a {
    display: inline-block;
    padding: 4px 10px;

    background: #000;
    color: #fff;

    border: 1px solid #000;
    border-radius: 3px;

    font-size: 12px;
    line-height: 1.4;

    text-decoration: none;
    transition: background 0.3s ease-in, color 0.3s ease-in, transform 0.3s ease-in;
}

.rd3-content-block-edit a:hover, .rd3-content-row-edit a:hover {
    background: #fff;
    color: #000;
}