/*
 * RD3 Content Blocks
 * Row Layout
 */


/* --------------------------------
 * Base Row
 * -------------------------------- */

.rd3-content-row {
    width: 100%;
    box-sizing: border-box;
}


/* --------------------------------
 * Row Items
 * -------------------------------- */

.rd3-content-row-item {
    box-sizing: border-box;
}


/* --------------------------------
 * Inline
 * -------------------------------- */

.rd3-content-row.rd3-row-inline {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}


.rd3-content-row.rd3-row-inline
.rd3-content-row-item {
    flex: 1 1 0;
    min-width: 0;
}


/* --------------------------------
 * Stacked
 * -------------------------------- */

.rd3-content-row.rd3-row-stacked {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.rd3-content-row.rd3-row-stacked
.rd3-content-row-item {
    width: 100%;
}


/* --------------------------------
 * Mobile
 * -------------------------------- */

@media (max-width: 600px) {

    .rd3-content-row.rd3-row-inline {
        flex-direction: column;
    }


    .rd3-content-row.rd3-row-inline
    .rd3-content-row-item {
        width: 100%;
    }

}