/*
 * RD3 Content Blocks
 * Row Layout
 */

.rd3-row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.rd3-row-inline {
    flex-direction: row;
}

.rd3-row-stacked {
    flex-direction: column;
}

.rd3-row > * {
    min-width: 0;
}


/*
 * Mobile
 *
 * All rows become stacked.
 */
@media (max-width: 768px) {

    .rd3-row {
        flex-direction: column;
    }

}